---
title: Identity Verification API
hide_table_of_contents: true
description: This is the RESTful API for users to manage their identity verification information stored in WSO2 Identity Platform.
mkdocs_template: redoc
deployment_options:
  - WSO2 Cloud
  - Self-hosted
custom_edit_url: https://github.com/wso2/docs-is/edit/master/en/asgardeo/docs/apis/user-identity-verification.md
---

<ApiReference spec="/identity/apis/restapis/user-identity-verification.yaml" />
